img {
    height: 250px;
}

ion-progress-bar {
    height: 10px;
    border-radius: 16px;
}

ion-icon {
    margin-right: 8px;
    margin-left: 16px;
}

#card_stats {
    padding: 16px 0;
}

.chip_type {
    margin: 0 4px;
}